.jumbotron {
    background-color: lightgray;
    margin:auto;
    padding:16px;
  
}
.center {
    margin: auto;
    background: grey;
    width: 66%;
  } 
  .col {
      background: black;
      
  }
  .boxed {
    width: 500px;
    border: 15px solid;
    padding: 10px;
    margin: 5px;
    <img src="..." alt="..." class="rounded">
  }
  
  .beside {
     background-color: #35f1c88a;
     margin: 20px;
     padding:15px;
     width:40px;
  box-align: 15px;
  }
  .move {
      max-right: right 10px;
      padding:20px;
  }
  